{
  "openapi": "3.0.1",
  "info": {
    "title": "Anchored Hosting API",
    "description": "Interacting with your Anchored Hosting services can be done from our API.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "http://anchored.host/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/os": {
      "get": {
        "summary": "Retrieve OSes",
        "description": "Fetches a list of operating systems and their associated templates. Optional query parameter `group` can be used to filter by group ID.",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "description": "Filter OS by group ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with OS data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OS"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plans": {
      "get": {
        "summary": "Retrieve Plans",
        "description": "Fetches a list of plans sorted by memory in ascending order.",
        "responses": {
          "200": {
            "description": "Successful response with plans data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Plans retrieved successfully!"
                    },
                    "plans": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "summary": "Retrieve Locations",
        "description": "Fetches a list of all available locations.",
        "responses": {
          "200": {
            "description": "Successful response with locations data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Locations retrieved successfully!"
                    },
                    "locations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OS": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ubuntu"
          },
          "name": {
            "type": "string",
            "example": "Ubuntu"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "example": "https://w7.pngwing.com/pngs/503/133/png-transparent-ubuntu-plain-logo-icon-thumbnail.png"
          },
          "type": {
            "type": "string",
            "example": "LINUX"
          },
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 103
          },
          "name": {
            "type": "string",
            "example": "Ubuntu"
          },
          "version": {
            "type": "string",
            "example": "24.04"
          },
          "variant": {
            "type": "string",
            "example": "LTS"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-12T16:05:12.676Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-04T04:51:04.670Z"
          },
          "uefi": {
            "type": "boolean",
            "example": false
          },
          "cloud_init": {
            "type": "boolean",
            "example": true
          },
          "format": {
            "type": "string",
            "example": "qcow2"
          },
          "architecture": {
            "type": "string",
            "example": "x86_64"
          },
          "groupId": {
            "type": "string",
            "example": "ubuntu"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "budget-2c-4gb"
          },
          "name": {
            "type": "string",
            "example": "Small"
          },
          "description": {
            "type": "string",
            "example": "Perfect for small projects and websites."
          },
          "shared": {
            "type": "boolean",
            "example": true
          },
          "threads": {
            "type": "integer",
            "example": 2
          },
          "memory": {
            "type": "integer",
            "example": 4096
          },
          "memoryUnit": {
            "type": "string",
            "example": "MB"
          },
          "storage": {
            "type": "integer",
            "example": 20
          },
          "storageUnit": {
            "type": "string",
            "example": "GB"
          },
          "bandwidth": {
            "type": "integer",
            "example": 2000
          },
          "bandwidthUnit": {
            "type": "string",
            "example": "GB"
          },
          "price": {
            "type": "integer",
            "example": 500
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "dallas"
          },
          "name": {
            "type": "string",
            "example": "United States"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Validation failed"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "group"
                  ]
                },
                "message": {
                  "type": "string",
                  "example": "Invalid input"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}